@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.24rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
    }
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:100px ;
    
}
.header-title{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
}
nav>ul{
    display: flex;
    list-style: none;
}
nav li {
    
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
    

}
ul li a{
    text-decoration: none;
    color: #424242;
}
.bennar-content{
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}
.bennar-title{
    color:  #131313;
text-align: center;

font-size: 4rem;
font-weight: 700;
line-height: normal
}
.text-gre{
color:  #727272;
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
}
.bennar-img{
    width: 100%;
    margin-top: 20px;
}




main{
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-content-title{
    font-size: 2.8rem;
    padding-bottom: 1.5rem;
    
}
.Quick-list{
    color:#727272 ;
    font-weight: 500;
}
.Features{
     color: #FF900E;
     font-weight: 700px;   
}
.teams-content-description{
    padding-bottom:2rem;
    color:  #727272;
}





@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
        
    }
    nav {
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
        
    }
    nav {
        flex-direction: column;
    }
    
}